@using LuxuryWhaches.EntityLayer.Concreate;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Mvc.Core;
@model IPagedList<Product>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 1;
}

<div id="page-wrapper">
	<div class="main-page">
		<h2 class="title1">Məhsullarımız</h2>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<table class="table table-bordered">
				<tr>
					<td>#</td>
					<td>Şəkli</td>
					<td>Adı</td>
					<td>Ölçüsü</td>
					<td>Alış Qiyməti</td>
					<td>Satış Qiyməti</td>
					<td>Endirimli Qiymət</td>
					<td>Kateqoriyas</td>
					<td>Brand</td>
					<td>Sil</td>
					<td>Yenilə</td>
					<td>Ətraflı</td>
				</tr>
				@foreach(var x in Model)
				{
					count++;
					<tr>
						<td>@count</td>
						<td><img src="@x.ProductImage1" style="width:64px;height:64px" /></td>
						<td>@x.ProductName</td>
						<td>@x.ProductSize</td>
						<td>@x.ProductPrice AZN</td>
						<td>@x.CellPrice AZN</td>
						<td>@x.DiscountedPrice AZN</td>
						<td>@x.Category.CategoryName</td>
						<td>@x.Brand.BrandName</td>
						<td><a href="/AdminHome/DeleteProduct/@x.ProductID/" class="btn btn-danger btn-flat btn-pri">Sil</a></td>
						<td><a href="/AdminHome/UpdateProduct/@x.ProductID/" class="btn btn-success btn-flat btn-pri">Yenilə</a></td>
						<td><a href="#" class="btn btn-primary btn-flat btn-pri">Ətraflı</a></td>
						
					</tr>
				}
			</table>
		</div>
	</div>
	<a href="/AdminHome/AddProduct/" class="btn btn-info btn-flat btn-pri">Yeni</a>
	@Html.PagedListPager((IPagedList)Model, page => Url.Action("Product", new { page }),
	new PagedListRenderOptions
	{
	LinkToFirstPageFormat="<<İlk",
	LinkToLastPageFormat="Son>>",
	LinkToNextPageFormat="sonraki>",
	LinkToPreviousPageFormat="<əvvəli",
	ContainerDivClasses=new[] {"navigation"},
	LiElementClasses= new[] {"page-item"},
	PageClasses=new[] {"page-link"},
	ActiveLiElementClass="active"
	})

</div>


