@using LuxuryWhaches.EntityLayer.Concreate;
@model Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div id="page-wrapper">
	<div class="main-page">
		<h2 class="title1">Yeni</h2>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<form method="post">
				<input type="hidden" asp-for="ProductID"  value="@Model.ProductID"/>
				<input type="hidden" asp-for="ProductStatus" value="@Model.ProductStatus" />

				<br />
				@Html.Label("Kategoriyalar")
				@Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cat, new {@class="form-control"})
				<br />
				<br />
				@Html.Label("Brendlər")
				@Html.DropDownListFor(x=>x.BrandID,(List<SelectListItem>)ViewBag.brend, new {@class="form-control"})
				<br />
				<br />
				@Html.Label("Rənglər")
				@Html.DropDownListFor(x=>x.ProductColorID,(List<SelectListItem>)ViewBag.color, new {@class="form-control"})
				<br />
				@Html.Label("Adı")
				<input type="text" asp-for="ProductName" class="form-control" />
				<br />
				@Html.Label("Cinsiyyəti")
				<input type="text" asp-for="ProductGender" class="form-control" />
			
				<br />
				@Html.Label("Qiyməti")
				<input type="text" asp-for="ProductPrice" class="form-control" />
				<br />
				@Html.Label("Satış Qiyməti")
				<input type="text" asp-for="CellPrice" class="form-control" />
				<br />
				@Html.Label("Endirimli Qiymət")
				<input type="text" asp-for="DiscountedPrice" class="form-control" />
				<br />
				@Html.Label("Ölçü")
				<input type="text" asp-for="ProductSize" class="form-control" />
				<br />
				@Html.Label("Stok")
				<input type="text" asp-for="ProductStock" class="form-control" />
				<br />
				@Html.Label("Modeli")
				<input type="text" asp-for="ProductModel" class="form-control" />
				<br />
				@Html.Label("Şəkil 1")
				<input type="text" asp-for="ProductImage1" class="form-control" />
				<br />
				@Html.Label("Şəkil 2")
				<input type="text" asp-for="ProductImage2" class="form-control" />
				<br />
				@Html.Label("Şəkil 3")
				<input type="text" asp-for="ProductImage3" class="form-control" />
				<br />
				@Html.Label("Haqqında")
				<input type="text" asp-for="ProductAbout" class="form-control" />
				<br />
				<input type="submit" class="btn btn-success btn-flat btn-pri" value="Təsdiqlə" />

			</form>
		</div>
	</div>
</div>

